.about-container {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 114, 255, 0.5), rgba(137, 207, 240, 0.5));
}

.about-content-container {
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
}
