.main-container {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 114, 255, 0.5), rgba(137, 207, 240, 0.5));
}

.img-cover-rd {
  width: 250px;
}

.avatar-img-container {
  display: flex;
  margin-left: 50px;
  max-width: 200px;
}

.avatar-text-container {
  margin-left: 100px;
  margin-right: 20px;
  min-width: 100px;
}

.footer {
  position: absolute;
  bottom: 0;
}

.sub-container {
  display: flex;
  flex-direction: row;
}

.child {
  flex: 1;
}

#child1 {
  flex: 1;
  flex-direction: column;
  text-align: center;
}

#child2 {
  flex: 2;
  margin-left: px;
  margin-right: 50px;
}
